@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) a standBy_prototype</h1>
    <div class="row">
        <p>Um webapp de crud de clientes.</p>
        <p>Aqui você pode CRIAR, LER, EDITAR e EXCLUIR clientes (tudo de acordo com a regra de negócio ;)</p>
        <p>Você também pode filtrar os clientes para melhor visualização de seus dados</p>
    </div>
</div>
